{% extends 'base.html.twig' %}

{% block body %}

    {% if error %}
        <div class="mx-auto col-md-9 alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {# {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %} #}

<div class="row">
    <div class="mx-auto col-md-9 bg-light rounded p-5">
        <form method="post">
            <h1 class="text-center">Me connecter</h1>
            <div class="mt-4 form-group">
                <label for="inputUsername">Nom d'utilisateur</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
            </div>
            
            <div class="form-group">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>
            
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="mt-4 btn btn-primary btn-block" type="submit">
                Me connecter
            </button>
        </form>
    </div>
</div>
        

{% endblock %}
