{% extends 'base.html.twig' %}

{% block body %}

    {% if app.user %}

    <div class="row">
        <div class="mx-auto col-md-2">
            <img src="{{ asset('img/logo_blue.svg') }}" alt="">
        </div>
    </div>
    <div class="mt-4 row">
        <div class="mx-auto col-md-9 bg-light rounded p-5">
            <h2 class="mb-3 text-center">Bienvenue dans votre espace EDT, voici vos actions :</h2>

            {% if 'ROLE_MAN' in app.user.roles %}
             {# MANAGER ONLY #}

            <div class="my-5 row">
                <div class="col-md-3 d-flex align-items-center justify-content-center">
                    <p>Actions de gestionnaire EDT :</p>
                </div>
                <div class="col-md-9">
                    <a href="{{ path('app_user') }}" class="btn btn-primary btn-block p-3">Gérer les utilisateurs</a>
                    <a href="{{ path('app_manager') }}" class="btn btn-primary btn-block p-3">Gérer l'emploi du temps</a>
                    <a href="{{ path('app_equipment') }}" class="btn btn-primary btn-block p-3">Gérer le matériel disponible</a>
                </div>
            </div>
            

            {% endif %}

            {% if 'ROLE_DIR' in app.user.roles %}
            {# DIRECTOR AND MANAGER #}

            <div class="my-5 row">
                <div class="col-md-3 d-flex align-items-center justify-content-center">
                    <p>Actions de responsable de diplôme :</p>
                </div>
                <div class="col-md-9">
                    <a href="{{ path('app_session_create') }}" class="btn btn-primary btn-block p-3">Créer une nouvelle année scolaire</a>
                    <a href="{{ path('app_session') }}" class="btn btn-primary btn-block p-3">Modifier le calendrier de cette année</a>
                    <a href="{{ path('app_attribution') }}" class="btn btn-primary btn-block p-3">Modifier la maquette de cette année</a>
                </div>
            </div>

            {% endif %}

            {% if 'ROLE_PRO' in app.user.roles %}
            {# PROFESSOR AND HIGHER #}

            <div class="my-5 row">
                <div class="col-md-3 d-flex align-items-center justify-content-center">
                    <p>Actions en tant que prof :</p>
                </div>
                <div class="col-md-9">
                    <a href="{{ path('app_preference') }}" class="btn btn-primary btn-block p-3">Gérer mes disponibilités</a>
                    <a href="{{ path('app_equipment_request') }}" class="btn btn-primary btn-block p-3">Gérer mes demandes de matériel</a>
                </div>
            </div>
            
        
            {% endif %}

            
        </div>
    </div>

    {% else %}

    <div class="row">
        <div class="mx-auto col-md-9 bg-light rounded p-5">
            <div class="row">
                <div class="col-md-6 p-5 d-flex justify-content-center align-items-center">
                    <img src="{{ asset('img/logo_blue.svg') }}" alt="">
                </div>        
                <div class="col-md-6">
                    <h1>Emploi du temps, maintenant simple et rapide</h1>
                    <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus harum ipsa corrupti repellat dolorum exercitationem ad magni nulla placeat accusantium itaque totam nostrum, laboriosam quas ullam blanditiis nam similique. Impedit?</p>
                    <a href="{{ path('app_login') }}" class="mt-3 btn btn-primary btn-lg p-3">Commencer maintenant !</a>
                </div>        
            </div>
        </div>
    </div>

    {% endif %}




{% endblock %}
