{% extends 'base.html.twig' %}

{% block body %}

    {% if app.user %}

    <div class="row">
        <div class="mx-auto col-md-2">
            <img src="{{ asset('img/logo_blue.svg') }}" alt="">
        </div>
    </div>
    <div class="mt-4 row">
        <div class="mx-auto col-md-9 bg-light rounded p-5">
            <h2 class="text-center">Bienvenue dans votre espace EDT, voici vos actions :</h2>
            <a href="{{ path('app_login') }}" class="mt-3 btn btn-primary btn-block p-3">Créer une nouvelle année scolaire</a>
            <a href="{{ path('app_login') }}" class="btn btn-primary btn-block p-3">Modifier le calendrier de cette année</a>
            <a href="{{ path('app_login') }}" class="btn btn-primary btn-block p-3">Modifier la maquette de cette année</a>
            <a href="{{ path('app_login') }}" class="btn btn-primary btn-block p-3">Gérer mes disponibilités</a>
            <a href="{{ path('app_login') }}" class="btn btn-primary btn-block p-3">Gérer les préférences des enseignants</a>
            <a href="{{ path('app_login') }}" class="btn btn-primary btn-block p-3">Modifier les codes d'utilisateur</a>
            <a href="{{ path('app_login') }}" class="btn btn-primary btn-block p-3">Gérer les utilisateurs</a>
        </div>
    </div>

    {% else %}

    <div class="row">
        <div class="mx-auto col-md-9 bg-light rounded p-5">
            <div class="row">
                <div class="col-md-6 p-5 d-flex justify-content-center align-items-center">
                    <img src="{{ asset('img/logo_blue.svg') }}" alt="">
                </div>        
                <div class="col-md-6">
                    <h1>Emploi du temps, maintenant simple et rapide</h1>
                    <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus harum ipsa corrupti repellat dolorum exercitationem ad magni nulla placeat accusantium itaque totam nostrum, laboriosam quas ullam blanditiis nam similique. Impedit?</p>
                    <a href="{{ path('app_login') }}" class="mt-3 btn btn-primary btn-lg p-3">Commencer maintenant !</a>
                </div>        
            </div>
        </div>
    </div>

    {% endif %}




{% endblock %}
