{% extends 'base.html.twig' %}

{% block body %}
    {# {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %} #}
    <div class="row">
        <div class="mx-auto col-md-9 bg-light rounded p-5">
            <h1 class="text-center">Ajouter un nouvel utilisateur</h1>

            {{ form_start(registrationForm) }}
                <div class="mt-4 row">
                    <div class="col-md-6">
                        {{ form_row(registrationForm.firstName) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(registrationForm.lastName) }}
                    </div>
                </div>
                
                
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.higherRole) }}
                {{ form_row(registrationForm.plainPassword) }}

                <button type="submit" class="mt-4 btn btn-primary btn-block">Ajouter utilisateur</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
            
    
{% endblock %}
