<header>
    <nav class=" mb-5 navbar navbar-expand-md navbar-dark bg-primary" id="nav">
        <div class="container">
            <a class="navbar-brand" href="{{ path('app_home') }}">
                <img style="width:100px;" src="{{ asset('img/logo_white.svg') }}" alt="Revenir à la page d'accueil">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-collapse" aria-controls="nav-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="nav-collapse">
                <ul class="navbar-nav ml-auto">
                    
                    {% if app.user %}

                        {% if 'ROLE_MAN' in app.user.roles %}
                        {# MANAGER ONLY #}

                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('app_user') }}">Utilisateurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('app_equipment') }}">Matériel dispo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('app_manager') }}">Gestion EDT</a>
                    </li>

                        {% endif %}

                        {% if 'ROLE_DIR' in app.user.roles %}
                        {# DIRECTOR AND MANAGER #}
                    
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('app_session') }}">Calendrier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('app_attribution') }}">Maquette</a>
                    </li>
                    {# <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('app_subject') }}">Matières</a>
                    </li> #}

                        {% endif %}

                        {% if 'ROLE_PRO' in app.user.roles %}
                        {# PROFESSOR AND HIGHER #}

                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('app_preference') }}">Mes dispo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('app_equipment_request') }}">Demandes matériel</a>
                    </li>
                    
                        {% endif %}

                    {# OPTIONS AVAILABLE FOR ALL USERS #}
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>

                    {% else %}

                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('app_login') }}">Connexion</a>
                    </li>

                    {% endif %}
                    

                <!--
                    <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                    </li>
                -->
                </ul>
            </div>
        </div>
    </nav>
</header>