{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Maquette {{ session.start  | date('Y') }} - {{ session.until | date('Y') }}</h1>
    <div class="row mt-4">  
       
        <div class="col-md-9 mx-auto bg-light rounded p-5"> 
        {{ form_start(attributionForm) }}

            <div class="row">
                <div class="col-md-3">
                    {{ form_row(attributionForm.cmAmount) }}
                    {{ form_errors(attributionForm.cmAmount) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(attributionForm.tdAmount) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(attributionForm.tpAmount) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(attributionForm.subject) }}
                </div>
            </div>
            
            <button class="mt-2 mb-4 btn btn-primary btn-block" type="submit">Nouvelle attribution</button>
        {{ form_end(attributionForm) }}

        {% if attributionList is empty %}
        {# If no attributions available for this session #}

            <p class="text-muted">Aucune attribution n'a été enregistrée pour le moment. Pour commencer, sélectionnez un enseignant, assignez-lui la quantité de cours souhaitée, définissez la matière concernée, et cliquez dans 'Nouvelle attribution'.</p>

        {% else %}
            <div class="row">
                <div class="col-md-6">
                    <label>Recherche spécifique :</label>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input class="w-100" type="text" placeholder="Recherchez soit par le nom de l'enseignant ou par sa matière..." id="js-professor-searchbar">
                </div>
            </div>
            <div class="p-3 row">    
                <table class="w-100 scrollable">
                    <thead>
                        <tr class="bg-dark text-light">
                            <th class="px-2 py-3">Enseignant</th>
                            <th class="px-2 py-3">Cours magistraux</th>
                            <th class="px-2 py-3">Cours de TD</th>
                            <th class="px-2 py-3">Cours de TP</th>
                            <th class="px-2 py-3">Matière</th>
                        </tr>
                    </thead>
                    <tbody>
            {% for attribution in attributionList %}
                        <tr class="hoverable js-attribution-result">
                            <td class="p-2">Enseignant</td>
                            <td class="p-2">{{ attribution.cmAmount }}</td>
                            <td class="p-2">{{ attribution.tdAmount }}</td>
                            <td class="p-2">{{ attribution.tpAmount }}</td>
                            <td class="p-2">{{ attribution.subject }}</td>
                        </tr>
            {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
            
        </div>
    </div>

    <script src="{{ asset('js/functions/searchbar.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/routes/attribution/index.js') }}" type="text/javascript"></script>
{% endblock %}
