{% if day.date | date('w') == 0 or day.date | date('w') == 6 %}

<td class="p-3 day custom-bg-light" id="js-day-{{ loopCounter }}">
    <div>
        {{ day.date | date('d') }}
    </div>
</td>

{% else %}

    {% set loopCounter = loopCounter + 1 %}
<td class="p-3 day" id="js-day-{{ loopCounter }}">
    <div>{{ day.date | date('d') }}</div>

    {% for event in events %}

    <input type="checkbox" name="event-{{ loop.index }}" hidden="hidden"/>

    {% endfor %}
</td>

{% endif %}