{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-4">  
        <div class="col-md-9 mx-auto bg-light rounded p-5"> 
            <h1 class="text-center">Créer une nouvelle année scolaire</h1>
            {{ form_start(sessionForm, {'attr': {'id': 'js-session-form'}}) }}
                <div class="row mt-5">
                    <div class="col-md-6">
                        {{ form_row(sessionForm.start) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(sessionForm.until) }}
                    </div>
                </div>
                <small class="mt-4 text-muted">La date de début doit correspondre au lundi de la semaine 1. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem, porro reprehenderit architecto, repudiandae esse totam omnis, incidunt consequatur temporibus possimus ex nobis magni hic? Earum, ipsa sed. Libero, possimus commodi.</small>
                <button type="submit" class="btn btn-primary btn-block mt-4" id="js-session-submit-btn">Envoyer</button>
            {{ form_end(sessionForm) }}
        </div>
    </div>
            
    <script src="{{ asset('js/routes/session/create.js') }}" type="text/javascript"></script>
{% endblock %}


