{% extends 'base.html.twig' %}

{% block body %}
    {% if session is defined and events is defined %}
    <h1 class="mt-5 text-center">Session {{ session.start | date('Y') }} - {{ session.until | date('Y') }}</h1>
    <div class="row mt-4 justify-content-center">  

        {# CALENDAR #}
        <div class="mx-1 p-3 col-md-6 bg-light rounded">
            <div class="swiper-container">
                <div class="swiper-wrapper">
        {% set loopCounter = 0 %}
        {% set firstBatchLastDay = 0 %}
        {% for monthDays in monthsDays %}
            {% if monthDays is empty == false %}  
                    <div class="swiper-slide px-5 py-4">
                        <h2 class="mb-3">{{ monthDays[0].date | date('F Y') }}</h2>
                            <table class="calendar w-100">
                            <thead>
                                <tr>
                                    <th class="px-3 py-1">Dim</th>
                                    <th class="px-3 py-1">Lun</th>
                                    <th class="px-3 py-1">Mar</th>
                                    <th class="px-3 py-1">Mer</th>
                                    <th class="px-3 py-1">Jeu</th>
                                    <th class="px-3 py-1">Ven</th>
                                    <th class="px-3 py-1">Sam</th>
                                </tr>
                            </thead>
                            <tbody>

                {# FIRST BATCH #}
                {% for weekDayIndex in 0..6 %}
                    {% set iterationAmount = 0 %}
                    {% if monthDays[0].date | date('w') == weekDayIndex %}
                        {% set firstBatchSize = 7 - weekDayIndex %}
                        
                        {% for week in monthDays | batch (firstBatchSize) %}
                            {% if loop.first %}
                                {% for day in week %}

                                    {% include 'partials/calendar/_calendarDay.html.twig' %}

                                    {% set iterationAmount = iterationAmount + 1 %}
                                    {% set firstBatchLastDay = day.date.timestamp %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                
                    {% else %} 
                        {% if firstBatchSize is defined %}  
                            {% if iterationAmount == firstBatchSize %}  
                                    <td class="day custom-bg-light"></td>
                            {% endif %}
                        {% else %}
                                   <td class="day custom-bg-light"></td> 
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {# FROM SECOND BATCH ON #}
                {% set sliceStart = 1 %}
                {% for day in monthDays %} 
                    {% if firstBatchLastDay is defined and day.date.timestamp < firstBatchLastDay %}
                        {% set sliceStart = sliceStart + 1 %}
                    {% endif %}
                {% endfor %}
               
                {% set monthDaysLength = monthDays | length %}
                {% set monthDaysSliced = monthDays | slice(sliceStart, monthDaysLength) %}
                
                {% for week in monthDaysSliced | batch(7) %} 
                                <tr>
                    {% for day in week %}

                        {% include 'partials/calendar/_calendarDay.html.twig' %}

                    {% endfor %}
                                </tr>
                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                                
            {% endif %}
        {% endfor %}
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>  

        {# EVENT BAR #}
        <div class="mx-1 p-3 col-md-3 bg-dark rounded">
            <button class="btn btn-success btn-block d-flex justify-content-between p-3">
                <span>Créer manuellement</span>   
                <img class="btn-icon" src="{{ asset('img/pen-solid.svg') }}" alt="Créer manuellement"> 
            </button>
            <input type="text" placeholder="Chercher un événement..." class=" mt-2 mb-4 form-control" id="js-session-searchbar">
            <div id="#js-session-events">
        {% for event in events %}
                <button class="btn btn-secondary btn-block js-event-button d-flex align-items-center justify-content-between" id="js-event-{{ loop.index }}">
                    <span>{{ event }}</span>
                    <div class="event-{{ loop.index }} btn-icon rounded-circle"></div>
                </button>
        {% endfor %}
            </div>
        </div>
    </div>

    <div class="my-5 row">
        <div class="col-md-9 mx-auto">
            <button class="btn btn-primary btn-block p-5" id="js-events-submit">Sauvegarder les changements</button>
        </div>
    </div>

        {# SCRIPTS #}
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script>
        // swiper
            const swiper = new Swiper('.swiper-container', {
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                allowTouchMove: false
            });
        </script>

        <script>
        // searchbar
            var eventBtns = document.querySelectorAll('.js-event-button');
            var searchbar = document.querySelector('#js-session-searchbar');
            searchbar.addEventListener('keyup', function(e){
                eventBtns.forEach(element => {
                    if (element.textContent.toLowerCase().indexOf(searchbar.value.toLowerCase()) == -1){
                        element.classList.remove('d-flex');
                        element.classList.add('d-none');
                        console.log(element);
                    } else {
                        
                        if (element.className.indexOf('d-none') !== -1){
                            element.classList.remove('d-none');
                            element.classList.add('d-flex');
                        }
                    }
                });
            });
        </script>

        <script>
        // Assign event
            var assignEventMode = false;
            var assignEventModeCounter = 0;
            var eventSelected = false;
            var eventStartDate, eventEndDate;
            function checkBetweenLoop(startCheck, endCheck){
                while (startCheck + 1 <= endCheck){
                    document.getElementById('js-day-' + startCheck).children[eventSelected].checked = true;
                    startCheck++;
                }
            }
            // Activate assignEventMode on EventBtn click
            eventBtns.forEach(element => {
                element.addEventListener('click', function(){
                    eventSelected = element.id.replace( /^\D+/g, '');
                    assignEventMode = true;
                });
            });
            // Assign events to days
            var days = document.querySelectorAll('.day');
            days.forEach(element => {
                element.addEventListener('click', function(){
                    if (assignEventMode) {
                        element.children[eventSelected].checked = true;
                        assignEventModeCounter++;
                        if (assignEventModeCounter == 1){
                            eventStartDate = element.id.replace( /^\D+/g, '');
                        } else if (assignEventModeCounter == 2) {
                            eventEndDate = element.id.replace( /^\D+/g, '');
                            // Check everything between start and end
                            eventStartDate < eventEndDate ? checkBetweenLoop(eventStartDate, eventEndDate) : checkBetweenLoop(eventEndDate, eventStartDate);
                            assignEventModeCounter = 0;
                        }
                    }
                 });
            });
            // submit button
            /*var eventSubmitBtn = document.querySelector('#js-events-submit');
            eventSubmitBtn.addEventListener('click', function(){
                document.querySelectorAll('form').forEach(element => {
                    element.submit();
                });
            });*/
        </script>

    {% else %}
        <div class="row mt-5">  
        <div class="col-md-6 mx-auto bg-light rounded p-5"> 
            <h1 class="text-center">Il n'y a pas de session disponible. <a href="{{ path('app_session_create') }}">Cliquez ici pour en créer une !</a></h1>
            </div>
        </div>  
    {% endif %}       

{% endblock %}


