{% extends 'base.html.twig' %}

{% block body %}
    {% if session is defined and events is defined %}
    <h1 class="text-center">Calendrier {{ session.start | date('Y') }} - {{ session.until | date('Y') }}</h1>
    <div class="row mt-4 justify-content-center">  

        {# CALENDAR #}
        <div class="mx-1 p-3 col-md-6 bg-light rounded">
            <form method="post" id="js-session-form">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
        {% set loopCounter = 0 %}
        {% set firstBatchLastDay = 0 %}
        {% set weekIndex = 1 %}
        {% for monthDays in monthsDays %}
            {% if monthDays is empty == false %}  
                        <div class="swiper-slide px-5 py-4">
                            <h2 class="mb-3">{{ monthDays[0].date | date('F Y') }}</h2>
                                <table class="calendar w-100">
                {% include 'partials/calendar/_calendarHead.html.twig' %}
                                    <tbody>

                {# FIRST BATCH #}
                {% for weekDayIndex in 0..6 %}
                    {% set iterationAmount = 0 %}
                    {% if loop.first %}
                        {% if monthDays[0].date | date('w') == 0 %}
                            {% set weekIndex = weekIndex + 1 %}
                        {% endif %}
                                        <td class="p-3 day bg-dark text-light">
                                            <span>{{ weekIndex }}</span>
                                        </td>
                    {% endif %}
                    
                    {% if monthDays[0].date | date('w') == weekDayIndex %}
                        {% set firstBatchSize = 7 - weekDayIndex %}
                        
                        {% for week in monthDays | batch (firstBatchSize) %}
                            {% if loop.first %}
                                {% for day in week %}

                                    {% if day.date | date('w') == 0 or day.date | date('w') == 6 %}
                                        <td class="p-3 day custom-bg-light" id="js-day-{{ loopCounter }}">
                                            <div>
                                        {{ day.date | date('d') }}
                                            </div>
                                        </td>

                                    {% else %}

                                        {% set loopCounter = loopCounter + 1 %}
                                        <td class="p-3 day" id="js-day-{{ loopCounter }}">
                                            <div class="mb-2">{{ day.date | date('d') }}</div>

                                        {% for event in events %}
                                
                                            {% if event in day.events %}  
                                            {# if current day's events contain this event #}

                                                {% for eventDay in event.day %} 
                                                    {# check all days of the event #}

                                                    {% if eventDay.id == day.id %}
                                                        {# if this event's day matches this day's id #}
                                                <input 
                                                    type="checkbox" 
                                                    name="day-{{ loopCounter }}-event-{{ event.id }}" 
                                                    id="day-{{ loopCounter }}-event-{{ event.id }}" 
                                                    class="js-event-input js-event-input-{{ event.id }} d-none" 
                                                    checked="checked"
                                                />
                                                <input 
                                                    type="checkbox" 
                                                    name="day-{{ loopCounter }}-event-{{ event.id }}-delete" 
                                                    id="day-{{ loopCounter }}-event-{{ event.id }}-delete" 
                                                    class="js-event-input-delete js-event-input-{{ event.id }}-delete d-none"
                                                />
                                                <div 
                                                    class="my-1 rounded w-100 text-small event event-indicator event-{{ loop.parent.loop.index }} js-event-indicator-{{ event.id }}"
                                                >
                                                    <small class="mx-1">{{ event.abbreviation }}</small>
                                                </div>

                                                    {% endif %}

                                                {% endfor %}

                                            {% else  %}
                                            {# if current day's event don't contain this event #}
                                                <input 
                                                    type="checkbox" 
                                                    name="day-{{ loopCounter }}-event-{{ event.id }}" 
                                                    id="day-{{ loopCounter }}-event-{{ event.id }}" 
                                                    class="js-event-input js-event-input-{{ event.id }} d-none"
                                                />
                                                <input 
                                                    type="checkbox" 
                                                    name="day-{{ loopCounter }}-event-{{ event.id }}-delete" 
                                                    id="day-{{ loopCounter }}-event-{{ event.id }}-delete" 
                                                    class="js-event-input-delete js-event-input-{{ event.id }}-delete d-none"
                                                />
                                                <div 
                                                    class="my-1 rounded w-100 d-none text-small event event-indicator event-{{ loop.index }} js-event-indicator-{{ event.id }}"
                                                >
                                                    <small class="mx-1">{{ event.abbreviation }}</small>
                                                </div> 

                                            {% endif %} 

                                        {% endfor %}


                                        </td>
                                    {% endif %}

                                    {% set iterationAmount = iterationAmount + 1 %}
                                    {% set firstBatchLastDay = day.date.timestamp %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                
                    {% else %} 
                        {% if firstBatchSize is defined %}  
                            {% if iterationAmount == firstBatchSize %}  
                                        <td class="day custom-bg-light"></td>
                            {% endif %}
                        {% else %}
                                        <td class="day custom-bg-light"></td> 
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {# FROM SECOND BATCH ON #}
                {% set sliceStart = 1 %}
                {% for day in monthDays %} 
                    {% if firstBatchLastDay is defined and day.date.timestamp < firstBatchLastDay %}
                        {% set sliceStart = sliceStart + 1 %}
                    {% endif %}
                {% endfor %}
               
                {% set monthDaysLength = monthDays | length %}
                {% set monthDaysSliced = monthDays | slice(sliceStart, monthDaysLength) %}
                
                {% for week in monthDaysSliced | batch(7) %} 
                                    <tr>
                    {% for day in week %}

                        {% if loop.first %}
                        {# Week block at first iteration #}
                            {% set weekIndex = weekIndex + 1 %}
                                        <td class="p-3 day bg-dark text-light">
                                            <span>{{ weekIndex }}</span>
                                        </td>
                        {% endif %}

                        {% if day.date | date('w') == 0 or day.date | date('w') == 6 %}
                        {# Display if weekend #}
                                        <td class="p-3 day custom-bg-light" id="js-day-{{ loopCounter }}">
                                            <div>
                                                {{ day.date | date('d') }}
                                            </div>
                                        </td>
                        {% else %}
                        {# Display if not weekend #}
                            {% set loopCounter = loopCounter + 1 %}
                                        <td class="p-3 day" id="js-day-{{ loopCounter }}">
                                            <div class="mb-2">{{ day.date | date('d') }}</div>

                            {% for event in events %}
                                
                                {% if event in day.events %}  
                                {# if current day's events contain this event #}

                                    {% for eventDay in event.day %} 
                                    {# check all days of the event #}

                                        {% if eventDay.id == day.id %}
                                        {# if this event's day matches this day's id #}
                                                <input 
                                                    type="checkbox" 
                                                    name="day-{{ loopCounter }}-event-{{ event.id }}" 
                                                    id="day-{{ loopCounter }}-event-{{ event.id }}" 
                                                    class="js-event-input js-event-input-{{ event.id }} d-none" 
                                                    checked="checked"
                                                />
                                                <input 
                                                    type="checkbox" 
                                                    name="day-{{ loopCounter }}-event-{{ event.id }}-delete" 
                                                    id="day-{{ loopCounter }}-event-{{ event.id }}-delete" 
                                                    class="js-event-input-delete js-event-input-{{ event.id }}-delete d-none"
                                                />
                                                <div 
                                                    class="my-1 rounded w-100 text-small event event-indicator event-{{ loop.parent.loop.index }} js-event-indicator-{{ event.id }}"
                                                >
                                                    <small class="mx-1">{{ event.abbreviation }}</small>
                                                </div>

                                        {% endif %}
                                    {% endfor %}
                                {% else  %}
                                {# if current day's event don't contain this event #}
                                                <input 
                                                    type="checkbox" 
                                                    name="day-{{ loopCounter }}-event-{{ event.id }}" 
                                                    id="day-{{ loopCounter }}-event-{{ event.id }}" 
                                                    class="js-event-input js-event-input-{{ event.id }} d-none"
                                                />
                                                <input 
                                                    type="checkbox" 
                                                    name="day-{{ loopCounter }}-event-{{ event.id }}-delete" 
                                                    id="day-{{ loopCounter }}-event-{{ event.id }}-delete" 
                                                    class="js-event-input-delete js-event-input-{{ event.id }}-delete d-none"
                                                />
                                                <div 
                                                    class="my-1 rounded w-100 d-none text-small event event-indicator event-{{ loop.index }} js-event-indicator-{{ event.id }}"
                                                >
                                                    <small class="mx-1">{{ event.abbreviation }}</small>
                                                </div> 

                                {% endif %} 
                                            </div>
                            {% endfor %}
                                        </td>
                        {% endif %}

                    {% endfor %}
                                    </tr>
                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                                
            {% endif %}
        {% endfor %}
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </form> 

        {# EVENT BAR #}
        <div class="mx-1 p-3 col-md-3 bg-dark text-light rounded">
            {# <button class="btn btn-success btn-block d-flex justify-content-between p-3">
                <span>Assigner</span>   
                <img class="btn-icon" src="{{ asset('img/pen-solid.svg') }}" alt="Créer manuellement"> 
            </button> #}

            <button class="btn btn-dark border-light btn-block d-flex justify-content-between px-3 py-2" id="js-eraser-mode-btn">
                <span>Mode gomme</span>   
                <img class="btn-icon" src="{{ asset('img/eraser-solid.svg') }}" alt="Créer manuellement"> 
            </button>
            <div class="mt-2 mb-4 form-control d-flex align-items-center justify-content-between">
                <input type="text" placeholder="Chercher un évènement..." id="js-session-searchbar">
                <img class="btn-icon" src="{{ asset('img/search-solid.svg') }}" alt="research button">
            </div>
            
            <div id="#js-session-events">
        {% for event in events %}
                <button class="btn btn-secondary btn-block js-event-button d-flex align-items-center justify-content-between" id="js-event-{{ loop.index }}">
                    <span>{{ event.name }} ({{ event.abbreviation }})</span>
                    <div class="event event-{{ event.id }} btn-icon rounded-circle"></div>
                </button>
        {% endfor %}
            </div>
        </div>
    </div>

    <div class="my-2 row">
        <div class="col-md-9 mx-auto px-0">
            <button class=" btn btn-primary btn-block p-5" id="js-session-form-submit">Sauvegarder les changements</button>
        </div>
    </div>
    <div class="my-2 row">
        <div class="col-md-9 mx-auto px-0">
            <a href="{{ path('app_session_create') }}" class="btn btn-success btn-block" id="js-session-form-submit">Créer une nouvelle année scolaire</a>
        </div>
    </div>


    {# <button class="btn btn-icon position-fixed tooltip">
        <img class="btn-icon" src="{{ asset('img/question-circle-solid.svg') }}" alt="Signe d'intérrogation">

        <div class="position-absolute">
            <h5>Pour assigner un évènement :</h5>
            <p>1) Cliquez sur l'évènement que vous voulez assigner dans la liste ci-dessous ;</p>
            <p>2) Cliquez sur la date de début de la période à laquelle vous voulez assigner cet évènement ;</p>
            <p>3) Cliquez sur la date de fin de la période. Toutes les dates entre le debut et la fin recevront l'évènement indiqué.</p>
            <p>Vous pouvez également utiliser le mode gomme pour supprimer des évènements assignés à la mauvaise date. Mais faites attention, l'outil gomme supprime tous les évènements sur les dâtes séléctionnées.</p>
        </div>
    </button> #}


    <script src="{{ asset('js/functions/searchbar.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/routes/session/index.js') }}" type="text/javascript"></script>

    {% else %}
    {# If no sessions #}
    <div class="row">  
    <div class="col-md-9 mx-auto bg-light rounded p-5"> 
        <h1 class="text-center">Il n'y a pas d'année scolaire disponible....</h1>
        <h1 class="text-center"><a href="{{ path('app_session_create') }}">Cliquez ici pour en créer une !</a></h1>
        </div>
    </div>  
    {% endif %} 

{% endblock %}


