{% extends 'base.html.twig' %}

{% block body %}
    {% if session is defined and events is defined %}
        <h1 class="mt-5 text-center">Session {{ session.start | date('Y') }} - {{ session.until | date('Y') }}</h1>
        <div class="row mt-4 justify-content-center">  
            <div class="mx-1 p-3 col-md-6 bg-light rounded">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for month in days | batch(35) %}
                            <div class="swiper-slide px-5 pt-4" >
                                <table class="calendar w-100">
                                    <thead>
                                        <tr>
                                            <th class="px-3 py-1">DIM</th>
                                            <th class="px-3 py-1">LUN</th>
                                            <th class="px-3 py-1">MAR</th>
                                            <th class="px-3 py-1">MER</th>
                                            <th class="px-3 py-1">JEU</th>
                                            <th class="px-3 py-1">VEN</th>
                                            <th class="px-3 py-1">SAM</th>
                                        </tr>
                                    </thead> 
                                    <tbody>
                                        {% for week in month | batch(7) %} 
                                            <tr>
                                                {% for day in week %}
                                                    <td class="p-3 day">
                                                        <div>
                                                            {{ day.date | date('d M') }}
                                                        </div>
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>    
            
            
            <div class="mx-1 p-3 col-md-3 bg-dark rounded">
                <input type="text" placeholder="Chercher un événement..." class="form-control my-4" id="js-session-searchbar">
                <div id="#js-session-events">
                    {% for event in events %}
                        <button class="btn btn-secondary btn-block js-event-button event-{{loop.index}}">{{ event }}</button>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="my-5 row">
            <div class="col-md-9 mx-auto">
                <button class="btn btn-primary btn-block">Sauvegarder les changements</button>
            </div>
        </div>

        {# SCRIPTS #}
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script>
        // swiper
            const swiper = new Swiper('.swiper-container', {
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
        </script>

        <script>
        // searchbar
            var events = document.querySelectorAll('.js-event-button');
            var searchbar = document.querySelector('#js-session-searchbar');
            searchbar.addEventListener('keyup', function(e){
                events.forEach(event => {
                    if (event.textContent.toLowerCase().indexOf(searchbar.value.toLowerCase()) == -1){
                        event.classList.add('d-none');
                    } else {
                        if (event.className.indexOf('d-none') !== -1){
                            event.classList.remove('d-none');
                        }
                    }
                });
            });
        </script>

        <script>
            var eventSelected = false;
            events.forEach(element => {
                element.addEventListener('click', function(){
                    eventSelected = element.classList[element.classList.length - 1];
                    console.log(eventSelected);
                })
            })
        </script>


    {% else %}
        <div class="row mt-5">  
        <div class="col-md-6 mx-auto bg-light rounded p-5"> 
            <h1 class="text-center">Il n'y a pas de session disponible. <a href="{{ path('app_session_create') }}">Cliquez ici pour en créer une !</a></h1>
            </div>
        </div>  
    {% endif %}       

{% endblock %}


