{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-center">Mes disponibilités</h1>
<div class="mt-4 row justify-content-center">
    <div class="mx-1 p-5 col-md-6 bg-light rounded">
        <form action="{{ path('app_preference_create') }}" method="post">
            <div class="row">
                <div class="mx-auto col-md-12">
                    <p>Je veux renseigner une...</p>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="js-preference-btn btn btn-success btn-block p-4" id="js-preference-btn">
                                <input type="radio" 
                                    name="preference_state" 
                                    value="1" 
                                    hidden="hidden"
                                >
                                <span>Disponibilité</span>
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="js-preference-btn btn btn-danger btn-block p-4" id="js-unavailability-btn">
                                <input type="radio" 
                                    name="preference_state" 
                                    value="0" 
                                    hidden="hidden"
                                >
                                <span>Indisponibilité</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="mt-5 row">
                <div class="mx-auto col-md-12">
                    <p>Choissisez la semaine :</p>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto col-md-12">

                    <select class="form-control" name="preference_week" id="js-preference-startweek">
                        <option value=""></option>
                        <option value="all">Toutes</option>
                        {% for week in weeks %}
                            <option value="{{ loop.index }}">Semaine {{ loop.index }} (du {{ week.start }} au {{ week.end }})</option>
                        {% endfor %}
                    </select>

                    
                    <input 
                        class="mt-4" 
                        type="checkbox"
                        name="is_preference_endweek" 
                        value="1" 
                        id="js-preference-endweek-checkbox" 
                    >
                    <label for="js-preference-endweek-checkbox">Jusqu'à (La semaine choisie sera prise en compte aussi)</label>
                    <select class="mt-2 form-control" name="preference_endweek" id="js-preference-endweek" disabled="disabled">
                        <option value=""></option>
                        {% for week in weeks %}
                        <option value="{{ loop.index }}">Semaine {{ loop.index }} (du {{ week.start }} au {{ week.end }})</option>
                        {% endfor %}
                    </select>
                        
                </div>
            </div>



           
            <div class="mt-5 row">
                <div class="mx-auto col-md-12">
                    <p>Choissisez les jours de la semaine :</p>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto col-md-12 d-flex">
                    {% set weekdays = ['Lun', 'Mar', 'Mer', 'Jeu', 'Ven'] %}
                    {% for weekday in weekdays %}
                        <button 
                            type="button" 
                            style="height: 75px" 
                            class="js-preference-onclick-undisable js-preference-weekday-btn  m-1 w-100 rounded d-flex align-items-center justify-content-center btn btn-dark text-uppercase" 
                            id="js-preference-weekday-btn-{{ loop.index }}" 
                            disabled="disabled"
                        >
                            <input 
                                type="checkbox" 
                                name="preference_weekday_{{ loop.index }}" 
                                value="true" 
                                hidden="hidden"
                            />
                            <span>{{ weekday }}</span>
                        </button>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="mx-auto col-md-12 d-flex">
                    <button 
                        type="button" 
                        class="js-preference-onclick-undisable js-preference-weekday-btn mt-2 w-100 rounded d-flex align-items-center justify-content-center btn btn-dark" 
                        id="js-preference-weekday-btn-all" 
                        disabled="disabled"
                    >
                        <span>Tous les jours</span>
                    </button>
                </div>
            </div>



            <div class="mt-5 row">
                <div class="mx-auto col-md-12">
                    <p>Choisissez vos horaires :</p>
                    <small class="text-muted">Si vos disponibilités horaires changent en fonction du jour de la semaine, créez des préférences séparées pour chaque jour de la semaine dont les horaires sont différents.</small>
                    <small class="text-muted">Per exemple, Isabelle enregistre une disponibilité pour tous les lundis de 9h30 à 15h00, et ensuite elle en crée une autre pour tous les mercredis de 16h30 à 18h00.</small>
                </div>
            </div>
            <div class="mt-4 row">
                <div class="mx-auto col-md-12">
                    <div class="row">
                        {% set times = [1, '8h00 - 9h30', '9h30 - 11h00', '11h00 - 12h30', '13h30 - 15h00', '15h00 - 16h30', '16h30 - 18h00', '18h00 - 19h30'] %}
                        {% for column in times | batch (4) %}
                            {% set lastBatch = 0 %}
                        <div class="col-md-6">
                            {% for time in column %}
                                {% if loop.parent.loop.first and loop.first %}
                                <button 
                                    type="button" 
                                    class="btn btn-dark btn-block js-preference-time-btn"  
                                    disabled="disabled"
                                >
                                    <span class="text-dark">{{ time }}</span>
                                </button>
                                {% else %}
                                    {% if loop.parent.loop.index == 2 %}
                                        {% set lastBatch = 4 %}
                                    {% endif %}
                                <button 
                                    type="button" 
                                    class="js-preference-onclick-undisable btn btn-dark btn-block js-preference-time-btn" 
                                    id="js-preference-time-btn-{{ loop.index + lastBatch - 1 }}" 
                                    disabled="disabled"
                                >
                                    <input 
                                        type="checkbox" 
                                        name="preference_time_{{ loop.index + lastBatch - 1 }}" 
                                        value="true"
                                        hidden="hidden"
                                    />
                                    <span>{{ time }}</span>
                                </button>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endfor %}
                            
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto col-md-12 d-flex">
                    <button 
                        type="button" 
                        class="js-preference-onclick-undisable mt-2 w-100 rounded d-flex align-items-center justify-content-center btn btn-dark js-preference-time-btn" 
                        id="js-preference-time-btn-all" 
                        disabled="disabled"
                        >
                        <span>Toute la journée</span>
                    </button>
                </div>
            </div>
                    


            
            <div class="mt-5 row">
                <div class="mx-auto col-md-12">
                    <small class="text-muted">Champ non obligatoire</small>
                    <p>Précisions ou commentaires :</p>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto col-md-12">
                    <textarea 
                        class="form-control" 
                        rows="4" 
                        placeholder="S'il y a d'autres particularités, faites le nous savoir ici..." 
                        id="js-preference-note" 
                        maxlength="300"
                        name="preference_note"
                    ></textarea>
                    <p class="mb-0 text-muted text-right" id="js-preference-note-counter">0/300</p>
                </div>
            </div>

            <div class="mt-4 row">
                <div class="mx-auto col-md-12">
                    <h5 class="text-danger">Vérifiez !</h5>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto col-md-12">
                    <div class="btn btn-block border border-danger text-danger">
                        <span id="js-preference-verification">Vous n'avez rien indiqué pour le moment.</span>
                    </div>    
                </div>
            </div>
            <div class="mt-2 row">
                <div class="mx-auto col-md-12">
                    <small class="text-muted">Cliquez sur le bouton 'Enregistrer' uniquement si le texte ci-dessus correspond à ce que vous avez indiqué.</small>
                </div>
            </div>

            
            <button class="mt-5 btn btn-block btn-primary" disabled="disabled" id="js-preference-save-btn">Enregistrer</button>
        </form>
    </div>




    <div class="mx-1 col-md-3">
        <div class="my-1 row bg-dark text-light rounded">
            <div class="col-12 p-4">
                <h4>Vos disponibilités</h4> 
                <div>
    {% if preferences is empty %}
                    <p>Vous n'avez pas encore renseigné vos disponibilités.</p>
    {% else %}
                    <ul>
        {% for preference in preferences %}
                        <li>{{ preference.datetime| date('Y-m-d l H:i') }}</li>
        {% endfor %}
                    </ul>
    {% endif %}
                </div>
            </div>
        </div>
        <div class="my-1 row bg-dark text-light rounded">
            <div class="col-12 p-4">
                <h4>Vos indisponibilités</h4> 
                <div>
    {% if unavailabilities is empty %}
                    <p>Vous n'avez pas encore renseigné vos indisponibilités.</p>
    {% else %}
                    <ul>
        {% for unavailability in unavailabilities %}
                        <li>{{ unavailability.datetime| date('Y-m-d l H:i') }}</li>
        {% endfor %}
                    </ul>
    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('js/routes/preference/index.js') }}" type="text/javascript"></script>
{% endblock %}
