{% extends 'base.html.twig' %}

{% block body %}
    {# {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %} #}
    <div class="row">
        <div class="mx-auto col-md-9 bg-light rounded p-5">
            <h1 class="text-center">Modifier un utilisateur</h1>

            {{ form_start(editUserForm) }}
                <div class="mt-4 row">
                    <div class="col-md-6">
                        {{ form_row(editUserForm.firstName) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(editUserForm.lastName) }}
                    </div>
                </div>
                
                
                {{ form_row(editUserForm.username) }}

                <small><span class="text-danger font-weight-bold">Attention :</span> Si cet utilisateur n'est pas un enseignant, il faut réindiquer son rôle avant d'enregistrer les changements.</small>
                {{ form_row(editUserForm.higherRole) }}

                <small><span class="text-danger font-weight-bold">Attention :</span> Si vous ne souhaitez pas modifier le mot de passe de l'utilisateur, laissez les deux champs suivants vides.</small>
                {{ form_row(editUserForm.plainPassword) }}

                <button type="submit" class="mt-4 btn btn-primary btn-block" formnovalidate>Enregistrer les changements</button>
            {{ form_end(editUserForm) }}
        </div>
    </div>
            
    
{% endblock %}
